{% extends "biblioteca/base.html" %}

{% block contenido %}
<form method="POST">
    {% csrf_token %}
    <fieldset>
        <legend><h2>Crear Préstamo</h2></legend>
        <table>
            {% for field in form %}
            <tr>
                <td><label for="{{ field.id_for_label }}">{{ field.label }}:</label></td>
                <td>
                    {{ field }}
                    {% if field.help_text %}
                    <small class="help-text">{{ field.help_text }}</small>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit">Crear Préstamo</button>
    </fieldset>
</form>
{% endblock %}
