{% extends 'biblioteca/base.html' %}
{% load static %}

{% block contenido %}
    <div class="intro-container">

    {% if user.is_authenticated %}
        <p>Estás logueado. Disfruta de la experiencia personalizada.</p>
        <img src="{% static 'img/Bibliotecario.jpg' %}" alt="Imagen de usuario" class="img-fluid">
    {% else %}
        <h1>Bienvenido a tu biblioteca digital</h1>
        <p>Gestiona y presta libros fácilmente. Explora nuestra colección, haz préstamos y mantén un registro detallado de todas tus lecturas.</p>
        <p>¡Comienza ahora y disfruta de nuestra amplia selección de títulos!</p>
    {% endif %}
       

    </div>
{% endblock contenido %}
